<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-5">

  <nav class="navbar navbar-light bg-white">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/ferbocato/image/upload/v1591367885/Logo/White_with_Colorful_Triangles_Internet_Logo_z4kj3a.png", class:"w-30" %>
    <% end %>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary " type="submit">Search</button>
    </form>

  </nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Items", items_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to " Add item", new_item_path, class: "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else%>
        <%= image_tag "https://res.cloudinary.com/antoniovbraz/image/upload/v1591195259/hwbqzhdzxr46clqy93ppdb9tdkje.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My Orders", my_orders_path,class: "dropdown-item" %>
          <%= link_to "My Items", my_items_path, class: "dropdown-item" %>
          <%= link_to "My Profile", pages_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
