<h1>PEDIDO - PRE CONFIRMADO - You have : <%=current_user.credits%> pts.🤑</h1>
<table class="table">
  <thead>
    <tr>
      <th>QTY</th>
      <th>Item</th>
      <th>Price</th>
      <th>Total</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= 1 %></td>
        <td><%= @item.name %></td>
        <td><%= @item.price %></td>
        <td><%= @item.price %></td>
      </tr>
  </tbody>
</table>


<%= simple_form_for [@item, @order] do |t| %>
      <%= t.submit 'CONFIRM YOUR ORDER', class: "btn btn-outline-secondary"%>
    <% end %>
    <%= link_to 'Back to items', items_path, class: "btn btn-outline-secondary" %>
