<div class="row justify-content-center">
  <div class="col-6">
    <h1>Create new - Items</h1>
    <%= simple_form_for(@item) do |t| %>
      <%= t.input :name, input_html: { id: "input-typed-text"}%>
      <%= t.input :description%>
      <%= t.input :price, label: "USD-Number only", placeholder: "Ex: 50.00"%>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      <%= t.input :photo, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload an item' %>
      <%= t.submit%>
    <% end %>
    <%= link_to 'Back', items_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
