<div class="show-container">
  <div class="show-container-inside">
    <h1><%= @item.name %></h1>
    <% if @item.photo.attached? %>
    <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>
<<<<<<< HEAD
<%= link_to 'Back', :back, class: "btn btn-outline-secondary" %>
<%= link_to 'remove', item_path, method: :delete, class: "btn btn-outline-secondary" %>
<%= link_to 'Buy', new_item_order_path(@item), class: "btn btn-outline-secondary" %>
=======
<%= link_to 'Back', items_path, class: "btn btn-outline-secondary" %>
<%if current_user %>
  <%= link_to 'remove', item_path, method: :delete, class: "btn btn-outline-secondary" %>
<% end %>
<% if current_user != current_user %>
  <%= link_to 'Buy', new_item_order_path(@item), class: "btn btn-outline-secondary" %>
<% end %>
>>>>>>> 0b379981b548cd7ab291e16e79630f692236bcce
