<div class="show-container">
  <div class="show-container-inside">
    <h1><%= @item.name %></h1>
    <% if @item.photo.attached? %>
    <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', items_path, class: "btn btn-outline-secondary" %>
<%= link_to 'remove', item_path,method: :delete, class: "btn btn-outline-secondary" %>



<% if current_user.photo.attached? %>
          <%= cl_image_tag item.user.photo.key, class: "card-trip-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else%>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-trip-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
